.animate-on-scroll {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .animate-on-scroll.animate {
    opacity: 1;
    transform: translateY(0);
  }