.Gallery{
    background: linear-gradient(90deg, rgb(165, 165, 160) 0%, rgb(57, 69, 69) 60%, rgb(174, 203, 206) 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 900;
    font-family: "Lato", sans-serif;
    font-style :inherit;
}